@import "tailwindcss";

@theme {
    --color-avocado-100: oklch(0.99 0 0);
    --color-back: "#f1f0eb";
    --color-font: "#3a2f25";
    --color-lightfont: "#7d6438";
    --color-nubes: "#fdfdfb";
    --color-arco: "#ba962d";
   /* ... */
}