<main class="h-screen w-full flex justify-center items-center overflow-hidden relative">
    <div class="flex flex-row w-full">
        <img class="relative -ml-[88%]" src="/src/assets/images/arco.png" alt="arco">
        <img class="relative" src="/src/assets/images/arco.png" alt="arco">
    </div>
    <!-- <section class="w-screen h-screen flex flex-col items-center absolute z-20">
        <span class=" text-center">
            <h3 class="uppercase text-xs" >MINISTERIO OASIS DE BENDICION</h3>
            <h3 class="uppercase text-xs tracking-widest" >SEXTA CONVENCION</h3>
        </span>
        <div class="flex flex-col items-center relative scale-[1.1] -mt-14 sm:-mt-[10%] md:-mt-20 xl:-mt-20">
            <img class="xl:w-[40%] sm:w-[500px] ] relative" src="/sananos.svg" alt="">
            <img class="xl:w-[22%] xl:mt-36 sm:w-[260px] sm:mt-[137px] w-[65%] mt-[26%] absolute z-10" src="/maranata.svg" alt="">
            <img class="xl:w-[35%] xl:mt-[70px] sm:w-[450px] sm:mt-[60px]  mt-[10%] absolute z-20 " src="/src/assets/images/personas.png" alt="">
        </div>  
    </section>   -->
</main>